extends layout

block activeLink
  - selected = "/about.html"

block content
  h1#about About the Hearing

  h2 Expunction

  p You will be given a hearing date by the clerk or you will get a notice of your hearing date in the mail.

  p Go to your hearing date. The judge will decide whether to grant expunction. The district attorney can oppose your petition if you file before the end of the <a href="http://www.statutes.legis.state.tx.us/Docs/CR/htm/CR.12.htm">Statute of Limitations</a> period for your charge. Expunction is not guaranteed.

  h2 Nondisclosure

  p A judge may schedule a hearing and you will be notified by mail of your hearing date. Bring documentation of the completion of your supervision requirements and your final order.

  p The judge may choose to grant your request for non-disclosure without a hearing if he or she decides it is “in the interest of justice” and you otherwise qualify.

  p If you do not receive a notice of hearing within 60 days, check on the progress of your petition with the Travis County court clerk. The clerk is not required to notify you of the issuance of an order if there is no hearing.
