extends layout

block activeLink
  - selected = "/eligibility.html"

block content
  p Based on your answers and Texas law, you may be able to remove or hide some criminal record information, but we recommend that you seek legal advice before you file your petition (and have to pay the fee.)

  p You may need to wait a little longer, or complete additional steps. Certain misdemeanors can be non-disclosed after two years from the date you complete your supervision. For a felony you must wait 5 years.

  p
    | The University of Texas School of Law hosts an Expungement Clinic where students and lawyers assist people through this process. For information about the Expungement Clinic,
    a(href="https://law.utexas.edu/probono/projects/special-projects/texas-law-expunction-project/") click here
    | . To go directly to the intake form,
    a(href="https://utexas.qualtrics.com/jfe/form/SV_5p95bNQXoYjDrcp") click here
    | .
