extends layout

block activeLink
  - selected = "/eligibility.html"

block content
  p Our tool does not currently assist with juvenile record expunction or non-disclosure. If you were under age 17 at the time of the incident, request help from the University of Texas School of Law Expunction Clinic.

  p The University of Texas School of Law hosts an Expungement Clinic where students and lawyers assist people through this process. For information about the Expungement Clinic, <a href="https://law.utexas.edu/probono/projects/special-projects/texas-law-expunction-project/">click here</a>. To go directly to the intake form, <a href="https://utexas.qualtrics.com/jfe/form/SV_5p95bNQXoYjDrcp">click here</a>.
