extends layout

block activeLink
  - selected = "/eligibility.html"

block content
  p You answered in a way we don't understand. Recheck your answers by taking the survey again. We understand there some legal terms you might not understand, such as "deferred prosecution" or even "plea of guilty."

  p For example, if you told us that you did not take a guilty plea, you are not under an agreement of deferred adjudication, you were not released without an indictment, and your case was not dismissed, then we are confused about your current legal status and cannot provide you the best next steps.

  p It might help to look at some definitions.

  ul
    li
      a(href="http://www.txcourts.gov/media/821650/order-of-nondisclosure-overview.pdf") Order of nondisclosure
