extends layout

block activeLink
  - selected = "/eligibility.html"

block content
  p Ask for assistance from the University of Texas Expungement Clinic here. <a href="https://law.utexas.edu/probono/projects/special-projects/texas-law-expunction-project/">https://law.utexas.edu/probono/projects/special-projects/texas-law-expunction-project/</a>
