extends layout

block activeLink
  - selected = "/eligibility.html"

block content
  p Based on the answers you gave and Texas law, you may qualify for an order of nondisclosure.

  p You will need to fill out one form and file it with the county. <a href="http://www.txcourts.gov/media/524157/petition_for_order_of_nondisclosure_form.pdf">Download this Petition for an order of nondisclosure</a>, fill it out using your Order of Deferred Adjudication as a reference and sign it. You do not need to use a notary.

  p This <a href="http://www.txcourts.gov/media/821652/intructions-for-completing-petition-for-order-of-nondisclosure.pdf">instruction form</a> will help you fill out the petition correctly.

  p Go to Travis County District Clerk, located 1000 Guadalupe St, Austin, TX 78701. File your Petition along with a copy of your Order of Deferred Adjudication with the District Clerk. You will be charged a fee of $330.

  p If you cannot afford the fee, <a href="http://traviscountyclerk.org/eclerk/content/images/pdf_tc_probate_AffIndigency_Nov2012.pdf"> download this fee waiver</a> form and file it with your petition.
