extends layout

block activeLink
  - selected = "/eligibility.html"

block content
  p Based on your answers and Texas law, ExpungeTexas.org will not be able to help you prevent disclosure of your criminal charges at this time.

  p Not in Travis County? Currently, this tool is programmed based on Travis County expunction procedures. We intend to expand the tool to include Texas' largest counties in the near future and all counties eventually. Check back in a few months.

  p Juvenile charge? Currently this tool is programmed to address the expunction or nondisclosure of adult criminal charges. The laws surrounding juvenile records are different. If you are trying to expunge or seal information related to an incident that occurred when you were 17 years old or younger, and you live in the greater Austin area, we recommend the <a href="https://law.utexas.edu/probono/projects/special-projects/texas-law-expunction-project/">UT Law School Expungement clinic</a>.

  p Were you found guilty or did you accept a plea of guilty? You are probably not going to be able to remove or hide your criminal record information. For a short description of the reasons why, <a href="http://www.reentryroundtable.net/wp-content/uploads/2014/09/UT-Law-Expunction-Project-Fall-2014-Flier.pdf">click here</a>.

  p ExpungeTexas.org is an application designed to give you guidance. We do not provide legal advice.

  p For information on services for people with a criminal record in Travis County, check out our resources listing below.

  p Resources
  ul
    li
      a(href="http://www.reentryroundtable.net/get-help/") Reentry Roundtable Services Listing
    li
      a(href="https://www.traviscountytx.gov/human-resources/jobs/guidelines") Travis County Guidelines for hiring ex-offenders
    li
      a(href="http://bigaustin.org/reentry/") Help for ex-offenders starting your own business
    li
      a(href="http://www.rjmntexas.net/Resource%20Guide.pdf") Restorative Justice Ministries Resource Guide (published 2013, still useful)
    li
      a(href="http://countyresources.texascjc.org/") Travis County resources: Texas Criminal Justice Coalition [select All and choose "Travis"]
    li
      a(href="https://www.traviscountytx.gov/district-clerk/doc-forms") Information on court filing fees if you pursue non-disclosure
    li
      a(href="http://guides.sll.texas.gov/expunctions-and-non-disclosure") More information about expunction and nondisclosure
