extends layout

block activeLink
  - selected = "/eligibility.html"

block content
  p
    | Based on your answers and Texas law, you are probably not going to be able to remove or hide your criminal record information. For information on services for people with a criminal record in Travis County,
    a(href="https://www.traviscountytx.gov/criminal-justice/research-planning/programs") click here
    | .

  p Resources

  p
    | More on court filing fees:
    a(href="https://www.traviscountytx.gov/district-clerk/doc-forms") https://www.traviscountytx.gov/district-clerk/doc-forms
