extends layout

block activeLink
  - selected = "/eligibility.html"

block content
  p Based on the answers you gave and Texas law, you may qualify for an Order of Expunction.

  p You will need to fill out two forms and file them with the county. But first, we recommend calling the Travis County District Attorney's office and asking if they will oppose your Petition for expunction. The number is (512) 854-9400. Have your charging papers from your original arrest handy. Ask for the name of the ADA in charge of your case. Ask if they will oppose your petition for expunction.

  p
    | If the answer is yes, you may need to wait to file until
    a(href="http://www.statutes.legis.state.tx.us/Docs/CR/htm/CR.12.htm") the statute of limitation on your charge
    | has expired. If you don't feel comfortable talking to the DA, call the
    a(href="http://www.reentryroundtable.net/wp-content/uploads/2014/09/UT-Law-Expunction-Project-Fall-2014-Flier.pdf") University of Texas Expunction Clinic
    | for consultation, or fill out their intake form
    a(href="https://utexas.qualtrics.com/jfe/form/SV_5p95bNQXoYjDrcp") here
    | .

  p
    | To move forward with your expunction petition,
    a(href="http://texaslawhelp.org/resource/expunction-of-records-in-texas") download
    | and fill out two forms: Petition for Expunction of Criminal Records and Order Directing Expunction of Criminal Records.

  p Sign the forms in front of a Notary.

  p Go to Travis County District Clerk, located at 1000 Guadalupe St, Austin, TX 78701. File your Petition along with a copy of your order of dismissal or not guilty order. You will be charged a fee of $302.

  p
    | If you cannot afford the fee,
    a(href="http://traviscountyclerk.org/eclerk/content/images/pdf_tc_probate_AffIndigency_Nov2012.pdf") download
    | this fee waiver form and file it with your petition.

  p You must notify the District Attorney that you have filed your Petition for expunction. So, while you are at the courthouse, deliver a copy of your Petition to the Travis County District Attorney's Office, located next door at 509 W. 11th street. Get a receipt showing you delivered it because you may need to prove that you gave the District Attorney notice.

  p You will be given a hearing date by the Clerk or you will get a notice of your hearing date in the mail.

  p Go to your hearing date. The Judge will decide whether to grant expunction. The District Attorney can oppose your Petition if you file before the end of the "statute of limitations" period for your charge. Expunction is not guaranteed.

  p
    a(href="http://texaslawhelp.org/files/685E99A9-A3EB-6584-CA74-137E0474AE2C/attachments/86CCFF45-FEA3-4DC4-BD7B-6F4590CE5352/expunction_kit_final.pdf") Click Here for your Travis County Expunge Document
