extends layout

block activeLink
  - selected = "/eligibility.html"

block content
  p We cannot assist you unless you agree to our terms of service.

  p If you need legal advice, you should contact a lawyer. UT provides legal assistance for free. To contact the Expunction Clinic at UT law, <a href="https://law.utexas.edu/probono/projects/special-projects/texas-law-expunction-project/">click here</a>.
