extends layout

block activeLink
  - selected = "/forms.html"

block content
  h1#faq Forms & Next Steps

  ol.summary-header__anchor-list.list-links
    li
      a(href="#expunction" style='color: black;') Petition for Expunction
    li
      a(href="#nondisclosure" style='color: black;') Petition for order of nondisclosure

  h2
    a(name="expunction" style='color: black;') Petition for Expunction

  h4
    b How to get started

  ul
    li
      p <b>Call your District Attorney.</b> Before filing forms, we recommend calling the Travis County District Attorney’s office at <a href="tel:1-512-854-9400">(512) 854-9400</a> and asking if the office would oppose your Petition for Expunction based on your case. For this call, we recommend having your charging papers for reference as well as the name of the District Attorney in charge of your case. If you do not feel comfortable calling the District Attorney yourself, contact the <a href="http://www.reentryroundtable.net/wp-content/uploads/2014/09/UT-Law-Expunction-Project-Fall-2014-Flier.pdf">University of Texas Expunction Clinic</a> for consultation, or fill out their <a href="https://utexas.qualtrics.com/jfe/form/SV_5p95bNQXoYjDrcp">intake form</a>.
      br
      p If the District Attorney's office would oppose your Petition for Expunction, you may need to wait to file until the <a href="http://www.statutes.legis.state.tx.us/Docs/CR/htm/CR.12.htm">Statute of Limitation</a> on your charge has expired.
      br
    li
      p <b>Download and fill out the required forms.</b> To move forward with the expunction process, download and fill out the <a href="http://texaslawhelp.org/resource/expunction-of-records-petition">Petition for Expunction of Criminal Records</a> and <a href="http://texaslawhelp.org/resource/expunction-of-reocrds-order">Order Directing Expunction of Criminal Records</a>. These forms must be signed in front of a notary.
      br
    li
      p <b>File your forms.</b> You must file your forms with a copy of your Order of Dismissal or Not Guilty Order in person at the office of the Travis County District Clerk, located at 1000 Guadalupe St, Austin, TX 78701.
      br
      p The filing fee is $302. If you cannot afford the filing fee, you may request a <a href="http://traviscountyclerk.org/eclerk/content/images/pdf_tc_probate_AffIndigency_Nov2012.pdf">waiver</a>.
      br
    li
      p <b>Notify your District Attorney</b> You must notify the District Attorney that you have filed your Petition for Expunction. Deliver a copy of your Petition to the Travis County District Attorney's Office, 509 West 11th Street, Austin, TX 78701. Make sure to get a  receipt confirming you delivered the form to the District Attorney's Office.

  h2
    a(name="nondisclosure" style='color: black;') Petition for order of nondisclosure

  p Based on the answers you gave and Texas law, you may qualify for an order of nondisclosure.

  p You will need to fill out one form and file it with the county. <a href="http://www.txcourts.gov/media/524157/petition_for_order_of_nondisclosure_form.pdf">Download this petition</a> for an order of nondisclosure. Fill it out using your Order of Deferred Adjudication as a reference and sign it. You do not need to use a notary.

  p This <a href="http://www.txcourts.gov/media/821652/intructions-for-completing-petition-for-order-of-nondisclosure.pdf">instruction form</a> will help you fill out the petition correctly.

  p Go to Travis County District Clerk, located 1000 Guadalupe St, Austin, TX 78701. File your Petition along with a copy of your Order of Deferred Adjudication with the District Clerk. You will be charged a fee of $330.

  p If you cannot afford the fee, you may request a <a href="http://traviscountyclerk.org/eclerk/content/images/pdf_tc_probate_AffIndigency_Nov2012.pdf">waiver</a>.
